@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  font-family: "Playfair Display", serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/**
      * ! HEADER RESPONSIVO *___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*
*/
.tittle {
  font-style: normal;
  font-size: 45px;
  color: white;
  font-family: "Playfair Display", serif;
  position: absolute;
  left: 110px;
  top: 10px;
}
header {
  background-color: #554227;
  height: 90px;
}
.logo {
  position: absolute;
  width: 70px;
  height: 50px;
  left: 30px;
  top: 21px;
}
header ul {
  justify-content: space-between;
  float: left;
  padding-left: 12%;
}
header ul .li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
header ul .li a {
  bottom: 4px;
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul .li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #c708b7;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul .li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul .li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/**
      * ! EFEITO DO HEADER *___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*
*/
.nav_links {
  margin-top: 10px;
  list-style: none;
}
.nav_links .li a {
  position: relative;
  text-decoration: none;
  color: #d1cfcf;
  letter-spacing: 1px;
  padding: 0 15px;
}
.nav_links .li a:after {
  content: "";
  position: absolute;
  color: white;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.4s;
}
.nav_links .li a:hover {
  color: white;
}
.nav_links .li a:hover:after {
  width: 100%;
}
/**
      * ! BOTÃO DE TROCA DE LINGUAGEM *___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*
*/
@import "https://fonts.googleapis.com/css?family=Raleway:400,700";
.tudo {
  position: absolute;
  right: 60px;
  bottom: 918px;
}
.main {
  display: inline-block;
  margin: 30px;
  position: relative;
  width: 150px;
  text-align: left;
}
label {
  /* redondo
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #2d9fd9;
  color: #a0d18c;
  width: 250px;
  height: 30px;
  padding-left: 10px;*/
  width: 100%;
  position: absolute;
  line-height: 45px;
  top: 0px;
  left: 0px;
  background-color: #fff;
  padding-left: 20px;
  font-weight: 700;
  -webkit-transition: 0.04s ease-in-out;
  transition: 0.04s ease-in-out;
}
.list {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 0px;
  border-top: 1px solid #eee;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.item {
  width: 100%;
  line-height: 45px;
  padding-left: 20px;
  background-color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-weight: 400;
}
.item:hover {
  background-color: #eee;
}

/**********
***********/

#drop-1:checked ~ .list-1 {
  visibility: visible;
  opacity: 2;
  z-index: 10;
}

/**********
***********/

#drop-2:checked ~ .list-2 {
  visibility: visible;
  opacity: 2;
  z-index: 10;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
#drop-2:checked ~ .dropHeader-2 {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/**********
***********/

.list-3 {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  z-index: 10;
}
#drop-3:checked ~ .list-3 {
  visibility: visible;
  opacity: 2;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/**********
***********/

.list-4 {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  z-index: 10;
}
#drop-4:checked ~ .list-4 {
  visibility: visible;
  opacity: 2;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/**********
***********/

.list-5 {
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  z-index: 10;
}
#drop-5:checked ~ .list-5 {
  visibility: visible;
  opacity: 2;
}
#drop-5:checked ~ .list-5 {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

/**
      * ! BOTÃO DE TROCA DE TEMA *___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*___*
*/

:root {
  --dark: #282828;
  --dark-shade: #555;
  --light: #f2f2f2;
  --light-shade: #999;
}

body {
  background-color: var(--light);
  color: var(--dark);
  transition: 0.5s all ease;
}

.theme-dark {
  background-color: var(--dark);
  color: var(--light);
}

.toggle {
  border-radius: 50%;
  display: block;
  height: 30px;
  overflow: hidden;
  position: absolute;
  right: 30px;
  top: 35px;
  width: 30px;
  transition: 0.5s all ease;
}

.toggle:hover {
  cursor: pointer;
}

.toggle:before {
  content: "";
  display: block;
  position: absolute;
}

.toggle-light:before {
  animation-duration: 0.5s;
  animation-name: sun;
  background-color: var(--light-shade);
  border-radius: 50%;
  box-shadow: 10px 0 0 -3.5px var(--light-shade),
    -10px 0 0 -3.5px var(--light-shade), 0 -10px 0 -3.5px var(--light-shade),
    0 10px 0 -3.5px var(--light-shade), 7px -7px 0 -3.5px var(--light-shade),
    7px 7px 0 -3.5px var(--light-shade), -7px 7px 0 -3.5px var(--light-shade),
    -7px -7px 0 -3.5px var(--light-shade);
  height: 10px;
  left: 7px;
  top: 7px;
  width: 10px;
}

.toggle-light:hover:before {
  background-color: var(--light);
  box-shadow: 10px 0 0 -3.5px var(--light), -10px 0 0 -3.5px var(--light),
    0 -10px 0 -3.5px var(--light), 0 10px 0 -3.5px var(--light),
    7px -7px 0 -3.5px var(--light), 7px 7px 0 -3.5px var(--light),
    -7px 7px 0 -3.5px var(--light), -7px -7px 0 -3.5px var(--light);
}

@keyframes sun {
  from {
    background-color: var(--dark);
    box-shadow: 0 0 0 -5px var(--dark), 0 0 0 -5px var(--dark),
      0 0 0 -5px var(--dark), 0 0 0 -5px var(--dark), 0 0 0 -5px var(--dark),
      0 0 0 -5px var(--dark), 0 0 0 -5px var(--dark), 0 0 0 -5px var(--dark);
  }
  to {
    background-color: var(--light-shade);
    box-shadow: 10px 0 0 -3.5px var(--light-shade),
      -10px 0 0 -3.5px var(--light-shade), 0 -10px 0 -3.5px var(--light-shade),
      0 10px 0 -3.5px var(--light-shade), 7px -7px 0 -3.5px var(--light-shade),
      7px 7px 0 -3.5px var(--light-shade), -7px 7px 0 -3.5px var(--light-shade),
      -7px -7px 0 -3.5px var(--light-shade);
  }
}

.toggle-dark:before {
  animation-duration: 0.5s;
  animation-name: moon;
  background-color: var(--dark-shade);
  border-radius: 50%;
  height: 20px;
  left: 2px;
  top: 2px;
  width: 20px;
  z-index: 1;
}

.toggle-dark:hover:before {
  background-color: var(--dark);
}

@keyframes moon {
  from {
    height: 0;
    left: 12px;
    top: 12px;
    width: 0;
  }
  to {
    height: 20px;
    left: 2px;
    top: 2px;
    width: 20px;
  }
}

.toggle-dark:after {
  animation-duration: 0.5s;
  animation-name: moon-shadow;
  background: var(--light);
  border-radius: 50%;
  content: "";
  display: block;
  height: 18px;
  position: absolute;
  right: -2px;
  top: -2px;
  width: 18px;
  z-index: 2;
}

@keyframes moon-shadow {
  from {
    background-color: var(--dark);
    height: 0;
    right: 7px;
    top: 7px;
    width: 0;
  }
  to {
    background-color: var(--light);
    height: 18px;
    right: -2px;
    top: -2px;
    width: 18px;
  }
}
