.tab {
  overflow: hidden;
  border: #707070;
}
.tab button {
  float: right;
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
}
.tab button:hover {
  background-color: #ff9564;
}
.tab button {
  background-color: #2e2e2e;
  color: white;
}
.tab button.active {
  background-color: #ff9564;
}
.tabcontent {
  margin-top: 1%;
  display: none;
  padding: 5px 15px 5px 15px;
}

.accordion-button:focus {
  outline: none !important;
  background-color: transparent;
  box-shadow: none;
}
@media only screen and (min-width: 632px) {
  .tab1 {
    display: none;
  }
}
@media only screen and (max-width: 632px) {
  .tab2 {
    margin-top: 1%;
    margin-bottom: 1%;
    display: none;
  }
  .tab button {
    align-items: center;
    cursor: pointer;
    padding: 10px;
    font-size: 12px;
  }
}

.tags {
  list-style: none;
  margin: 0;
  color: white;
}
.tags li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.tags a {
  background: #fda57d;
  color: #fff;
  display: block;
  line-height: 1em;
  padding: 0.5em;
  text-decoration: none;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-transition: background 200ms ease;
  -moz-transition: background 200ms ease;
  -o-transition: background 200ms ease;
  -ms-transition: background 200ms ease;
  transition: background 200ms ease;
}

.wrapper {
  position: relative;
}

.heading {
  margin: 25px 0;
  font-size: 24px;
}
.dashboard-stat {
  position: relative;
  display: block;
  margin: 0 0 25px;
  overflow: hidden;
  border-radius: 4px;
  .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
    > i {
      margin-left: -15px;
      font-size: 110px;
      line-height: 110px;
      color: #fff;
      opacity: 0.1;
    }
  }
  .details {
    position: absolute;
    right: 15px;
    padding-right: 15px;
    color: #fff;
    .number {
      padding-top: 25px;
      text-align: right;
      font-size: 34px;
      line-height: 36px;
      letter-spacing: -1px;
      margin-bottom: 0;
      font-weight: 300;
      .desc {
        text-transform: capitalize;
        text-align: right;
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 300;
      }
    }
  }
  &.blue {
    background-color: #337ab7;
  }
  &.red {
    background-color: #e7505a;
  }
  &.purple {
    background-color: #8e44ad;
  }
  &.hoki {
    background-color: #66809e;
  }
}
